@font-face {
    font-family: MagicWand;
    src: url(../fonts/MagicWand.otf);
}

@font-face {
    font-family: FutureTimesplitters;
    src: url(../fonts/FutureTimesplitters.ttf);
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, black, blueviolet, white, purple, black);
}

h1 {
    font-family: MagicWand;
    font-size: 10rem;
    margin: -3rem;
    text-decoration: underline;
}

h2 {
    font-size: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: start;
    gap: 2rem;
}

#eight-ball {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 60vh;
    background-color: black;
    border-radius: 50%;
}

#eight-circle {
    background-color: white;
    text-align: center;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    position: relative;
    bottom: 5rem;
}

#eight-circle p {
    font-size: 8rem;
    padding: 0;
    margin: 0;
}

#answer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    border: 2px solid black;
    border-radius: 4px;
    width: 35vh;
    height: 3rem;
    z-index: 2;
}

#answer-box p {
    font-size: 2rem;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: FutureTimesplitters;
    letter-spacing: 0.3rem;
}

#question-box {
    width: 70vh;
    height: 2.2rem;
    padding: 0 0.5rem;
    text-align: center;
    font-size: 1.4rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    background-color: black;
    font-size: 1.2rem;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    box-shadow: 0.15rem 0.25rem gray;
}

button:active {
    position: relative;
    top: 0.25rem;
    box-shadow: none;
}

@media (max-width: 1600px) {
    h1 {
        font-size: 7rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    #eight-circle p {
        font-size: 6rem;
    }

    #answer-box p {
        font-size: 1.7rem;
    }
}

@media (max-width: 400px) {
   h1 {
    margin-top: -2.5rem;
   }

    h2 {
        text-align: center;
        margin-bottom: 0;
    }

    #input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 1rem;
    }
    
    #question-box {
        width: 20rem;
    }

    button {
        width: 10rem;
    }
}